<div *ngIf="hasItemsInGroceryList() == false" class="empty-list-message">
  No items in grocery list
</div>

<div class="grocery-list-item" [class.done]="item.quantity == 0" [class.hidden]="item.quantity == 0 && !showItemsAddedToBasket()" *ngFor="let item of groceryList" (mouseenter)="selectItem(item)">
  <div class="item-text-cont">
    <span name="item-name">{{item.name}}</span>
    <span name="item-quantity">{{item.quantity}}</span>
  </div>
  <div class="item-quantity-cont">
    <div>
      <button [disabled]="selectedItem.inBasket <= 1" (click)="decrementQuantity()">-</button>
      <input [(ngModel)]="selectedItem.inBasket">
      <button [disabled]="selectedItem.inBasket >= item.quantity" (click)="incrementQuantity()">+</button>
    </div>
  </div>
  <div class="add-button" (click)="addToBasket(item)">
    <span>Add to Basket</span>
  </div>
</div>